@import url('https://fonts.googleapis.com/css?family=Muli:300,800|Playfair+Display:400,700');
* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
#wrapper { 
	/*background-color: #FFE2B8;
	border: 1px black solid;*/
	padding: 10px;
	width: 1176px;
	margin-left: auto;
	margin-right: auto;
}
body { 
	/* background-color: #f3f3f3; */
	color:#333;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	line-height:1.5;
}
nav {
	/*background-color: #E8C66A;
	border: 1px black solid;*/
	font-weight: 800;
	letter-spacing: 1px;
	text-align: right;
	text-transform: uppercase;
}
nav a {
	color:inherit;
	display:inline-block;
	margin:0 0.5em;
	padding:0 0.5em;
	text-decoration:none;
}
#intro {
	text-align:center;
	padding: 20px 0 20px;
}
#inspiration {
	text-align: center;
	padding: 5px 0 10px;
}
#inspiration a {
	color: #111111;
	text-decoration: none;
	padding: 20px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
}
#inspiration a:hover{
	background-color: #cccccc;
}

/*#search {
	float: right;
}
#blogsearch {
	float: right;

}*/
#recentposts {
	background-color: #f3f3f3;
	width: 1176px;
}
article a { 
	text-decoration: none;
	
}
.first {
	width: 870px;
	float:left;
	padding: 40px 0px;
}
#column1, #column2 { 
	/*background-color: #FFB7CF;
	border:1px black solid;*/
	padding:20px, 20px;
	float: left;
	width: 50%;
}
.second {
	width: 870px;
	float: right;
	padding: 0px 0px 40px;
}
#column3, #column4 {
	
	padding: 20px,20px;
	float: left;
	width: 50%;
}
.third {
	width: 870px; 
	float: left;
}
#column5, #column6 {
	
	padding: 20px, 20px;
	float: left;
	width: 50%;
}

.two{
	padding: 20px 20px 20px 0;
	float: left;
	display: inline-block;
	width: 33.33%;
}

#feature {
	clear: both;
}

.pagination {
	clear: both;
	text-align: center;
	padding: 20px 20px;

}



header { 
	/* background-color: #FFED74;
	border: 1px black solid;*/
	padding: 20px;
	text-align:right;
}


h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 60px;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 30px;

}

h3 { 
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 22px;
}

h4 {
	font-family: 'Muli', sans-serif
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	color: #999999
}

p { 
	font-family: 'Muli', sans-serif;
	font-size: 18px
	font-weight: 300;
}


img {
	width:370px;
}
footer {
	background-color: #f3f3f3;
	padding: 20px;
	clear:both;
}

footer a { 
	text-decoration: none;
	font-size: 14px;
	
 }
 footer p {
 	float: left;
 	font-size: 14px;

 	
 }

 footer h3  {
 	font-size: 18px;

 }

#slogan { 
	font-family: 'Muli', serif; 
	font-weight: 300;
}

#instagram {
	text-align: center;
	background-color: #f3f3f3;
	clear: both;
}

#tags, #subscribe
{ 
	float: left;
	width: 50%;
	padding: 60px;
	text-align: center;
 }

#sayhello,#socialmedia {
 	float: left;
 	width: 33.33%
 }
 
.image {
	width: 400px;
	background-color: #ffffff;
	padding: 10px 10px;
}

.aboutpost {
	padding: 30px 20px;
	background-color: #ffffff;
	width: 92%;
}

/*.clearfix: after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}*/





