* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body { 
	background-color: #f3f3f3; 
	color:#333;
	font-family: Arial, sans-serif;
	line-height:1.5;
}
section {
	padding:5em 0;
}
article {
	padding:1em;
}
header { 
	background-color: #e5eaef;
	padding: 20px;
	text-align:right;
}
nav {
	font-weight: bold;
	letter-spacing: 2px;
	text-align: right;
	text-transform: uppercase;
}
nav a {
	color:inherit;
	display:inline-block;
	margin:0 1em;
	padding:1em;
	text-decoration:none;
}

h1 {
	font-size: 36px;
	word-spacing: 2px;
}

#slogan { 
	font-family: Times New Roman, serif; 
	font-weight: bold;
	font-style: italic;
}
ul{ 
	padding-left: 60px;
}
img {
	width:400px;
}

.featurepost {
	background-color: #f3f3f3;
	border-style: solid;
	width: 370px;
}

.featurepost2 {
	background-color: #f3f3f3;
	border-style: solid;
	width: 370px;
}

.featurepost3 {
	background-color: #f3f3f3;
	border-style: solid;
	width: 370px;
}
#intro {
	text-align:center;
}



